/* Variables */
:root{
    --font-family: 'Glory', sans-serif;
    --weight-strong: 600;
    --button: #0d6efd;
    --weight-weak: 400;
}
/* Responsive web desing */ 
html{ 
    font-size:62.5%; 
    box-sizing:border-box; 
} 
body{
    font-size:16px; /* 1rem = 10px */ 
    font-family: var(--font-family);
} 
 /* Model box */
*,*:before,*:after{ 
    box-sizing:inherit; 
}
/* headings */
h1, h2{
    font-weight: var(--weight-weak);
    text-align: center;
    margin: 1rem auto;
}
/* Utilities */
.d-none{
    display: none;
}
/* Form */
.form__label{
    font-weight: var(--weight-strong);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
}
.form__text{
    width: 98%;
    margin: 0 auto;
    display: block;
}
.form__button{
    background-color: var(--button);
    text-transform: uppercase;
    border-radius: .5rem;
    padding: 1.1rem 2rem;
    margin: .5rem auto;
    font-size: 1.35rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
    display: block;
    border: none;
    width: 97%;
}
/* Section tweets */
.tweets__list{
    margin: 0 auto;
    list-style:none;
    width: 95%;
    padding: 0;
}
.new__item{
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    display: flex;
}
.item__img{
    content: url(/img/x.svg);
    cursor: pointer;
    margin-left: 1rem;
    user-select: none;
}
/* Error alert */
.alert{
    background-color: red;
    font-weight: var(--weight-strong);
    border-radius: .2rem;
    text-align: center;
    margin: 1rem auto;
    padding: .5rem;
    width: 98%;
}
.alert__paragraph{
    text-transform: uppercase;
    font-size: 1.35rem;
    color: white;
}
/* Desktop */
@media (min-width: 768px) { 
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 65%;
        margin: 0 auto;
    }
    .form__label{
        text-align: left;
    }
    .form__text{
        width: 100%;
    }
    .form__button{
        width: 99%;
    }
    .alert{
        width: 65%;
    }
    .tweets__list{
        max-width: 90%;
        margin: 0 auto;
    }   
}